function! s:source_local(relative_path)
  let full_path = fnamemodify($MYVIMRC, ':p:h') . '/'. a:relative_path
  exec 'source ' . full_path
endfunction

" Defaults
call s:source_local('_defaults.vim')

" Plugins
call s:source_local('_plugin_fzf.vim')
call s:source_local('_plugin_lsp.vim')
call s:source_local('_plugin_lightline.vim')
call s:source_local('_plugin_markdown.vim')
call s:source_local('_plugin_treesitter.vim')

packadd vim-ps1
packadd vim-fugitive
